<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
      <meta name="author" content="Łukasz Holeczek">
      <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
      <title>Benchmark Verification</title>
      <link href="/static/coreui-icons.css" rel="stylesheet">
      <link href="/static/flag-icon.css" rel="stylesheet">
      <link href="/static/font-awesome.css" rel="stylesheet">
      <link href="/static/simple-line-icons.css" rel="stylesheet">
      <link href="/static/style.css" rel="stylesheet">
      <link href="/static/pace.css" rel="stylesheet">
      <link href="/static/themify-icons/themify-icons.css" rel="stylesheet">
      <style type="text/css">/* Chart.js */
         @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
      </style>
   </head>
   <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show   pace-done pace-done">
      <div class="pace  pace-inactive pace-inactive">
         <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
            <div class="pace-progress-inner"></div>
         </div>
         <div class="pace-activity"></div>
      </div>
      <header class="app-header navbar">
         <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
         <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#">
         <img class="navbar-brand-full" src="/static/logo.bmp" alt="CoreUI Logo" width="89"
              height="25">
         <img class="navbar-brand-minimized" src="/static/sygnet.svg" alt="CoreUI Logo" width="30" height="30">
         </a>
         <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
         <span class="navbar-toggler-icon"></span>
         </button>
         <ol class="nav navbar-nav">
            {% for dir in dirs %}
            <li class="breadcrumb-item">{{ dir }}</li>
            {% endfor %}
         </ol>
         <ul class="nav navbar-nav ml-auto">
            <li class="nav-item px-3">
               [ {{ user.get_username }} ]
            </li>
            <li class="nav-item px-3">
               <a class="nav-link" href="/logout">Logout</a>
            </li>

         </ul>
      </header>
      <div class="app-body">
         <div class="sidebar">
            <nav class="sidebar-nav ps ps--active-y">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/run">
                     <i class="nav-icon ti-target text-light"></i>Run</a>
                  </li>
                  <li class="nav-item nav-dropdown">
                     <div class="nav-link nav-dropdown-toggle">
                     <i class="nav-icon ti-panel text-light"></i>Configuration
                     </div>
                     <ul class="nav-dropdown-items">
                          <li class="nav-item">
                              <div><a href="/task/table" class="nav-link">Configuration Table</a></div>
                          </li>
                          <li class="nav-item">
                              <div><a href="/task/create" class="nav-link">Create Configuration</a></div>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/scan/results">
                     <i class="nav-icon ti-pie-chart text-light"></i>Results</a>
                  </li>
                  <li class="nav-item nav-dropdown">
                      <div class="nav-link nav-dropdown-toggle"><i class="nav-icon ti-ruler-pencil text-light"></i>Benchmarks</div>
                      <ul class="nav-dropdown-items">
                         {% for benchmark in benchmarks %}
                          <li class="nav-item">
                              <div><a href="/benchmark/about/{{benchmark.1}}" class="nav-link">{{ benchmark.0 }}</a></div>
                          </li>
                         {% endfor %}
                      </ul>
                  </li>


                  <!--<li class="nav-item">-->
                     <!--<a class="nav-link" href="#">-->
                     <!--<i class="nav-icon ti-settings text-light"></i>Settings</a>-->
                  <!--</li>-->
               </ul>
               <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                  <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
               </div>
               <div class="ps__rail-y" style="top: 0px; height: 666px; right: 0px;">
                  <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 372px;"></div>
               </div>
            </nav>
         </div>
         <main class="main">
            <div class="container-fluid">
               {% if messages %}
               &nbsp
               {% for message in messages%}
               <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                  <strong>{{ message.title }}</strong>
                  {{ message.text }}
	              <button class="close" type="button" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
               </div>
               {% endfor %}
               {% endif %}

               {% block content %}
               {% endblock %}
            </div>
         </main>
      </div>

      <script src="/static/jquery.js"></script>
      <script src="/static/popper.js"></script>
      <script src="/static/bootstrap.js"></script>
      <script src="/static/pace.js"></script>
      <script src="/static/perfect-scrollbar.js"></script>
      <script src="/static/coreui.js"></script>
      <script type="text/javascript" src="/static/Chart.js" class="view-script"></script>
      <script type="text/javascript" src="/static/custom-tooltips.js" class="view-script"></script>
      <script type="text/javascript" src="/static/main.js" class="view-script"></script>
   </body>
</html>